<navbar></navbar>

<div class="container" >
    <div class="jumbotron">

        <div ng-hide="vm.isAuthenticated">
            <p>WELCOME TO BT</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>

        <div ng-show="vm.isAuthenticated">
            <p>IF YOU ADDED A PHONE NUMBER TO YOUR ACCOUNT</p>
            <p>TEXT 201-554-0537 TO POST A IMAGE ANYWHERE</p>

            <div ng-hide="vm.haveInfo" class="loader"></div>
            <div ng-show="vm.haveInfo">
                <div class="row equal-height">
                    <div class="col-sm-6 col-md-4" ng-repeat="images in vm.allImages | limitTo: vm.totalDisplay">
                        <div class="thumbnail">
                            <img src="{{images.image}}" alt="">
                            <div class="caption">
                                <p>
                                    {{images.caption | limitTo: 20}}
                                    <span ng-if="images.caption.length > 20">...</span>
                                </p>
                                <a href="/image/{{images.id}}" class="btn btn-default">Go to Image</a>
                            </div>
                        </div>
                    </div>
                    <btn ng-disabled="vm.noMoreInfo" class="row col-md-12 col-sm-12 btn btn-primary" ng-click="vm.noMoreInfo ||vm.loadMore()">Load more</btn>
                </div>
            </div>
        </div>

    </div>
</div>

